<div class='title'>
  <h1>ChumSpeak</h1>
</div>

<div class='center'>
  <mat-card class='login'>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type='text' [(ngModel)]='email' placeholder='someone@email.com' />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type='password' [(ngModel)]='password' placeholder='************' />
    </mat-form-field>
    <button mat-raised-button color='accent' type='button' (click)='signUp()'>Sign Up</button>
    <button mat-raised-button color='accent' class='float-right' type='button' (click)='login()'>Login</button>
  </mat-card>
</div>
