.app-container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;


  .sidebar {
    // color: rgba(220, 220, 220, 1);
    // background: #333;
    width: 300px;
    border-right: 3px solid red;
    flex: 0 0 300px;

    .new-channel {
      // font-size: 1.5em;

      &:hover {
        color: black;
      }
    }

    .channels {
      .channel {
        cursor: pointer;

        &:hover {
          color: white;
          background: rgba(255, 255, 255, 0.5);
          color: black;
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }

    button {
      // cursor: pointer;
      // border: 2px solid darken(tomato, 25%);
      margin: 5px;
      // background: tomato;
      // border-radius: 5px;
      // padding: 10px 20px;
      // &:hover {
      //   background: darken(tomato, 5%);
      // }
    }

    label {
      float: left;
    }

    input {
      padding: 5px;
      float: right;
    }
  }

  .main {
    display: flex;
    // flex-flow: column nowrap;
    flex-grow: 1;
    // align-items: center;
    // justify-content: center;
    // background: url(../../../assets/background.jpg) no-repeat center fixed;
    // -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    // background-size: cover; /* version standardisée */

    .toggle {
      display: flex;
      align-items: center;
      background: rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
    }

  }

}
