<div class='app-container'>
  <div class='sidebar'>
    <div>
      <div>
        <label>Address</label>
        <input type='text' [(ngModel)]='address' />
      </div>
      <div class='clear'>
        <label>Password</label>
        <input type='text' [(ngModel)]='password' />
      </div>
      <div class='clear'>
        <label>Nickname</label>
        <input type='text' [(ngModel)]='nickname' />
      </div>
    </div>
    <div class='clear'>
      <div>
        <button (click)='connect()'>Connect</button>
        <button (click)='disconnect()'>Disconnect</button>
      </div>
      <div>
        <button (click)='mute(true)'>Mute</button>
        <button (click)='mute(false)'>Unmute</button>
      </div>
    </div>
    <div class='clear'>
      <label>Threshold</label>
      <input type='range' min='-50' max='50' step='1' (change)='VAD = $event.target.value' />
      <button type='button' (click)='startVADTest()'>Start Test</button>
      <button type='button' (click)='stopVADTest()'>Stop Test</button>
      <span>{{ currentDecibels > VAD }}</span>
      <input type='range' min='-50' max='50' step='1' [(ngModel)]='currentDecibels' />
    </div>
    <div class='clear'>
      Channels <i class='fa fa-plus-circle pointer new-channel' (click)='newChannel()'></i>
      <ul class='channels'>
        <li class='channel' *ngFor='let channel of channels | async' (click)='switchToChannel(channel)'>
          #{{ channel.name }}
        </li>
      </ul>
      Voice
      <ul>
        <li>@General</li>
        <ul>
          <li>austin</li>
        </ul>
        <li>@YOCket League</li>
        <ul>
          <li>Adam</li>
          <li>Alex</li>
          <li>Matt</li>
        </ul>
        <li>@YOCraft</li>
      </ul>
      <button routerLink='/logout'>Logout</button>
      {{ user?.email }}
    </div>
  </div>

  <chum-channel class='main' [id]='selectedChannel'></chum-channel>
</div>
