<div class='channel-wrapper'>
  <div class='header'>
    <div class='name'>#{{ (channel | async)?.name }}</div>
    <div class='description'>{{ (channel | async)?.description }}</div>
  </div>

  <div #messageList class='messages'>
    <mat-list class='wrapper'>
      <mat-list-item class='message' *ngFor='let message of messages | async'>
        <img matListAvatar src='https://www.gravatar.com/avatar/8ff80d09c3fa40407cba8a9efc0dd6d2?d=monsterid' />
        <!-- <div class='content' matLine>
          <div class='name'>{{ message.said_by.displayName }} <span class='time'>{{ message.timestamp | date: 'medium' }}</span></div>
          <div class='body'>{{ message.body }}</div>
        </div> -->
        <div matLine class='name'>{{ message.said_by.displayName }} <span class='time'>{{ message.timestamp | date: 'medium' }}</span></div>
        <div matLine class='body'>{{ message.body }}</div>
      </mat-list-item>
    </mat-list>
  </div>

  <div class='input'>
    <mat-form-field appearance='outline'>
      <textarea matInput placeholder='Enter text here' maxlength='1000' [(ngModel)]='messageText' (keydown)='onInputKeydown($event)'></textarea>
    </mat-form-field>
  </div>

</div>
