@import '~@angular/material/theming';

// $chumchat-primary: mat-palette($mat-deep-purple);
$chumchat-primary: mat-palette($mat-blue, 700);
// $chumchat-primary-dark: mat-palette($mat-purple);
$chumchat-primary-dark: mat-palette($mat-blue);
// $chumchat-accent:  mat-palette($mat-amber);
$chumchat-accent:  mat-palette($mat-amber, 400);
$chumchat-warn:  mat-palette($mat-red);

$primary: mat-color($chumchat-primary);
$accent:  mat-color($chumchat-accent);
$warn:    mat-color($chumchat-warn);
