@import '~@angular/material/theming';

// $chumspeak-primary: mat-palette($mat-deep-purple);
$chumspeak-primary: mat-palette($mat-blue, 700);
// $chumspeak-primary-dark: mat-palette($mat-purple);
$chumspeak-primary-dark: mat-palette($mat-blue);
// $chumspeak-accent:  mat-palette($mat-amber);
$chumspeak-accent:  mat-palette($mat-amber, 400);
$chumspeak-warn:  mat-palette($mat-red);

$primary: mat-color($chumspeak-primary);
$accent:  mat-color($chumspeak-accent);
$warn:    mat-color($chumspeak-warn);
