<mat-sidenav-container class='app-container'>
  <mat-sidenav mode='side' opened class='sidebar' #sidebar>
    <mat-form-field>
      <input type='text' matInput placeholder='Address' [(ngModel)]='address' />
    </mat-form-field>
    <mat-form-field>
      <input type='text' matInput placeholder='Password' [(ngModel)]='password' />
    </mat-form-field>
    <mat-form-field>
      <input type='text' matInput placeholder='Nickname' [(ngModel)]='nickname' />
    </mat-form-field>
    <div class='clear'>
      <div>
        <button type='button' mat-raised-button color='primary' (click)='connect()'>Connect</button>
        <button type='button' mat-raised-button color='primary' (click)='disconnect()'>Disconnect</button>
      </div>
      <div>
        <button type='button' mat-raised-button color='primary' (click)='mute(true)'>Mute</button>
        <button type='button' mat-raised-button color='primary' (click)='mute(false)'>Unmute</button>
      </div>
    </div>
    <div class='clear'>
      <label>Threshold</label>
      <!-- <input type='range' min='-50' max='50' step='1' (change)='VAD = $event.target.value' /> -->
      <mat-slider [min]='-50' [max]='50' [step]='1' [tickInterval]='5' [thumbLabel]='true' [value]='VAD' (change)='VAD = $event.value'></mat-slider>
      <button type='button' mat-raised-button color='primary' (click)='startVADTest()'>Start Test</button>
      <button type='button' mat-raised-button color='primary' (click)='stopVADTest()'>Stop Test</button>
      <span>{{ currentDecibels > VAD }}</span>
      <!-- <input type='range' min='-50' max='50' step='1' [(ngModel)]='currentDecibels' /> -->
      <mat-slider [min]='-50' [max]='50' [step]='1' [(ngModel)]='currentDecibels' disabled></mat-slider>
      <div>
        <label>AGC:</label>
        <mat-checkbox [checked]='AGC' (change)='AGC = $event.checked'></mat-checkbox>
      </div>
    </div>
    <div class='clear'>
      <mat-nav-list class='channels'>
        <h2 mat-subheader>
          Channels <button mat-icon-button (click)='newChannel()' class='new-channel'><mat-icon [inline]='false'>add_circle</mat-icon></button>
        </h2>
        <mat-list-item class='channel' *ngFor='let channel of channels | async' (click)='switchToChannel(channel)'>
          #{{ channel.name }}
        </mat-list-item>
      </mat-nav-list>
      Voice
      <ul>
        <li>@General</li>
        <ul>
          <li>austin</li>
        </ul>
        <li>@YOCket League</li>
        <ul>
          <li>Adam</li>
          <li>Alex</li>
          <li>Matt</li>
        </ul>
        <li>@YOCraft</li>
      </ul>
      <button mat-raised-button color='accent' (click)='toggleTheme()'>Toggle Dark Mode</button>
      <button mat-raised-button color='warn' routerLink='/logout'>Logout</button>
      {{ user?.email }}
    </div>
  </mat-sidenav>

  <mat-sidenav-content class='main'>
    <!-- <div class='toggle' (click)='sidebar.toggle()'>
      <mat-icon *ngIf='sidebar.opened; else closed'>keyboard_arrow_left</mat-icon>
      <ng-template #closed>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </ng-template>
    </div> -->
    <chum-channel class='d-flex flex-grow' [id]='selectedChannel'></chum-channel>
  </mat-sidenav-content>
</mat-sidenav-container>
